[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
beautifulsoup4 = "*"
lxml = "*"
nltk = "*"
scikit-learn = "*"

[requires]
python_version = "3.8"
